modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["npm", "run", "start"]
deploymentTarget = "autoscale"
build = ["npm", "run", "build:fast"]

[[ports]]
localPort = 3000
externalPort = 6800

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35803
externalPort = 8080

[[ports]]
localPort = 36151
externalPort = 3002

[[ports]]
localPort = 37035
externalPort = 8000

[[ports]]
localPort = 38605
externalPort = 3000

[[ports]]
localPort = 38873
externalPort = 5000

[[ports]]
localPort = 39609
externalPort = 3001

[[ports]]
localPort = 40441
externalPort = 3003

[[ports]]
localPort = 41033
externalPort = 5173

[[ports]]
localPort = 42381
externalPort = 4200

[[ports]]
localPort = 43505
externalPort = 8008

[[ports]]
localPort = 44107
externalPort = 6000

[[ports]]
localPort = 44689
externalPort = 8081

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Dev Server"
author = 39191462
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
expertMode = true
integrations = ["javascript_log_in_with_replit:1.0.0", "javascript_database:1.0.0", "javascript_object_storage:1.0.0"]
